<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="../static/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>	
		<script>
			function drawLineChart(dataVals){
				var attempts_stats = {{attempts_stats}}
				var ctx = document.getElementById("myAreaChart");
				const areaChart = new Chart(ctx, {
					type: 'line',
					data: {
						labels: ["T-1","T-2","T-3","T-4","T-5","T-6","T-7"],
						datasets: [{
							label: "Attempts",
							lineTension: 0.3,
							backgroundColor: "rgba(2,117,216,0.2)",
							borderColor: "rgba(2,117,216,1)",
							pointRadius: 5,
							pointBackgroundColor: "rgba(2,117,216,1)",
							pointBorderColor: "rgba(255,255,255,0.8)",
							pointHoverRadius: 5,
							pointHoverBackgroundColor: "rgba(2,117,216,1)",
							pointHitRadius: 50,
							pointBorderWidth: 2,
							data: dataVals
						}],
					},
					options: {
						scales: {
							xAxes: [{
								gridLines: {
									display: false
								},
								ticks: {
									stepSize: 1
								}
							}],
							yAxes: [{
								ticks: {
									min: 0,															
									stepSize: 1
								},
								gridLines: {
									color: "rgba(0, 0, 0, .125)",
								}
							}],
						},
						legend: {
							display: false
						}
					}
				});
			}
	</script>		
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Molten Sunrise</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Demo</div>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Search Config
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Recruitment BEAST</h1>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Players Attempted in 24 Hours Periods
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
									<script>
									drawLineChart({{attempts_stats}})
									</script>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Elibigle TH13's v TH14's
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
									<script>
									
										var test = {{th_stats}}
										var ctx = document.getElementById("myBarChart");
										new Chart(ctx, {
											type: 'bar',
											data: {
												labels: ["th13", "th14"],
												datasets: [{
													label: "clanless accounts",
													backgroundColor: "rgba(2,117,216,1)",
													borderColor: "rgba(2,117,216,1)",
													data: test
												}],
											},
											options: {
												scales: {
													xAxes: [{
														gridLines: {
															display: false
														},
														ticks: {
															maxTicksLimit: 6
														}
													}],
													yAxes: [{
														ticks: {
															min: 0,
															stepSize: 1															
														},
														gridLines: {
															display: true
														}
													}],
												},
												legend: {
													display: false
												}
											}
										});
									</script>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Available Players
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>tag</th>
                                            <th>th</th>
                                            <th>last attempt</th>
                                            <th>detected on</th>
                                            <th>attempts</th>
                                            <th>banned</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>tag</th>
                                            <th>th</th>
                                            <th>last attempt</th>
                                            <th>detected on</th>
                                            <th>attempts</th>
                                            <th>banned</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
									<!-- For loop logic of jinja template -->
									{%for player in clanless_bods%}
                                        <tr>
                                            <td>{{player.id}}</td>
                                            <td>{{player.th}}</td>
                                            <td id="{{player.id}}-ajaxLastAttempt">{{player.last_attempt}}</td>
                                            <td>{{player.no_clan_detected}}</td>											
                                            <td id="{{player.id}}-ajaxAttempts">{{player.attempts}}</td>
                                            <td>{{player.banned}}</td>
											<td><button type="button" onclick="getPlayerInfo({{player}});" class="btn btn-info btn-sm">info</button></td>
											<td><button type="button" onclick="tryPlayer({{player}});" class="btn btn-primary btn-sm">try</button></td>
                                        </tr>
									{%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
					<!-- Modal -->
					<div class="modal" id="staticBackdrop">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel"><b>Player: </b><span id="modal-name"></h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<p><b>TH: </b><span id="modal-th"></span></p>
									<p><b>War Stars: </b><span id="modal-warStars"></span></p>									
									<p><b>HEROS:</b> BK=<span id="modal-bk"></span>, AQ=<span id="modal-aq"></span>, GW=<span id="modal-gw"></span>, RC=<span id="modal-rc"></span></p>
								</div>
								<div class="modal-footer">
									
								</div>
							</div>
						</div>
					</div>					
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Recruitment BEAST Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
	    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script>
		
		
		function getPlayerInfo(player){
			player_id = player['id']
			const request = new XMLHttpRequest();
			request.open('POST', `/getPlayerInfo`);
			request.onreadystatechange=function()
			{
				if (request.readyState==4 && request.status==200)
				{
					const response = request.responseText;
					json_response = JSON.parse(response)
					document.getElementById('modal-name').innerHTML = json_response['name'];
					document.getElementById('modal-th').innerHTML = json_response['th'];
					document.getElementById('modal-bk').innerHTML = json_response['heroes']['bk'];
					document.getElementById('modal-aq').innerHTML = json_response['heroes']['aq'];
					document.getElementById('modal-gw').innerHTML = json_response['heroes']['gw'];
					document.getElementById('modal-rc').innerHTML = json_response['heroes']['rc'];
					document.getElementById('modal-warStars').innerHTML = json_response['war_stars'];
					myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {keyboard: false})
					myModal.show()
				}
			}
			request.send(player_id);	
		}
		
		function addData(chart, label, data) {
				chart.data.labels.push(label);
				chart.data.datasets.forEach((dataset) => {
				dataset.data.push(data);
			});
			chart.update();
		}
		
		
		
		
		function tryPlayer(player){
			console.log("Trying Player: " +player['id'])
			player_id = player['id']
			player_attempts = document.getElementById(player_id+'-ajaxAttempts').innerHTML
			console.log("player_attempts: " +player_attempts)
			
			const request = new XMLHttpRequest();
			request.open('POST', `/tryPlayer`);
			request.onreadystatechange=function()
			{
				if (request.readyState==4 && request.status==200)
				{
					const response = request.responseText;
					json_response = JSON.parse(response)
					console.log(json_response)
					console.log(json_response['lastAttempt'])
					console.log(json_response['attempts'])					
					console.log(json_response['attempts_stats'])
					
					//window.globVarStats = json_response['attempts_stats'] 
					console.log(json_response['attempts_stats'])
					//addData(myAreaChart, 'T-1', 10)
					//areaChart.data.labels['T-1']=10;
					//areaChart.data.datasets[0].data = [50, 50, 50, 50,0,0,0];
					drawLineChart(json_response['attempts_stats']);
					document.getElementById(player_id+'-ajaxLastAttempt').innerHTML = json_response['lastAttempt'];
					document.getElementById(player_id+'-ajaxAttempts').innerHTML = json_response['attempts'];
				}
			}
			console.log("prereq player id: "+player_id);
			console.log("prereq player_attempts: "+player_attempts);
			//request.send(player_id, player_attempts);
			//data = {"player_attempts":player_attempts, "player_id":player_id}
			request.send(player_attempts+'-'+player_id);
		}		
		
		
	</script>
    <script src="../static/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="../static/js/datatables-simple-demo.js"></script>
</html>
